<!DOCTYPE html>
    <html class="darkMode">
        <head>
            <meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>StreamContemental</title>
            <link rel="icon" type="image/png" href="/api/media/images/favicon/favicon-96x96.png" sizes="96x96" />
            <link rel="icon" type="image/svg+xml" href="/api/media/images/favicon/favicon.svg" />
            <link rel="shortcut icon" href="/api/media/images/favicon/favicon.ico" />
            <link rel="apple-touch-icon" sizes="180x180" href="/api/media/images/favicon/apple-touch-icon.png" />
            <meta name="apple-mobile-web-app-title" content="StreamContemental" />
            <link rel="manifest" href="/api/media/images/favicon/site.webmanifest" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
            <link rel="stylesheet" href="/api/styles/interface.css">
            <link rel="stylesheet" id="styleInjector" href="">
        </head>
        <body>
            <div class="mobileNavButton"><span></span><span></span><span></span></div>
            <nav id="mainNavigation">
                <div class="desktopNavCloser"><span>◄</span></div>
                <div class="navigationLogoContainer"></div><div class="devider"></div><ul id="navigationItems"></ul><div class="devider"></div>
                <div class="settingsContainer">
                    <div class="langSwitcher">
                        <div class="activeLang" id="currentLangFlag"></div>
                        <div class="langMenu">
                            <div data-langindex="de"><img src="/api/media/images/lang/de.webp" alt=""><span>Deutsch</span></div>
                            <div data-langindex="en"><img src="/api/media/images/lang/en.webp" alt=""><span>English</span></div>
                        </div>
                    </div>
                </div>
            </nav>
            <main id="moduleInjector"></main>
            <agenda: Emote Battle (Like Sandra im Twitch Chat)></agenda:>
            <script src="/api/scripts/interface.js?v=1.0"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script id="scriptInjector"></script>
        </body>
    </html>